{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"/>
   
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/inspection-details.css' %}">
    
    <title>Inspection Details</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="nav-link" href="./main.html">HSTC <span class="sr-only">(current)</span></a> -->
    <a class="navbar-brand" href="{% url 'customer:main_customer-list' %}">
        <img src="{% static '/images/hstc_logo.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        &nbsp HSTC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Right Aligned -->
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
        </li> -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-4 btn-success" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <li class="nav-item dropdown active user">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <span><i class="fa fa-user"></i></span>&nbsp User
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><span><i class="fa fa-user-lock"></i></span>&nbsp Manage Access</a>
            <a class="dropdown-item" href="#"><span><i class="fa fa-sign-out-alt"></i></span>&nbsp&nbsp Logout</a>
          </div>
        </li>
      </ul>
    </div>
</nav>

    <br>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </nav>
            <!-- Progress Bar Start -->
            <nav class="navbar navbar-expand-lg navbar-light progress_bar">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item active stage">
                      <a class="nav-link" href="{% url 'customer:main_customer-detail' id %}">Order Summary</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:customer_pi_list' id %}">Customer PI</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:dilivery_dates' id %}">Delivery Dates</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:display_inspection' id %}">Inspection Details</a>
                </li>
                <li class="nav-item active stage">
                  <a class="nav-link" href="{% url 'customer:getShipmentMarks' id %}" target="blank">Shipment Marks</a>
                </li>
                <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:container_loading_list' id %}">Container Loading Pics</a>
                </li>
                <li class="nav-item active stage">
                    <a class="nav-link" href="#">Doorstep Delivery ETA</a>
                </li>
                </ul>
              </div>
            </nav>
          <!-- Progress Bar End -->

    <!-- Table -->
<div class="mb-3 card">
    <div class="card-header-buttons">
      <button class="btn btn-danger excel-down"><span><i class="fa fa-download" aria-hidden="true"></i></span>&nbspExcel</button>
    </div>
  <div class="scrollit" id="style-1">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Customer</th>
        <th class="text-center">Vendor Company Name</th>
        <th class="text-center">Actual Inspection Date</th>
        <th class="text-center">Inspection Done By</th>
        <th class="text-center">Inspection Remarks</th>
        <th class="text-center">Inspection Photo 1</th>
        <th class="text-center">Inspection Photo 2</th>
        <th class="text-center">Update</th>
      </tr>
      </thead>
  
      <tbody>				
  
        {% for i in inspection_obj %}
        <tr>
            <td class="text-center">{{i.customer}}</td>
            <td class="text-center">{{i.vendor_company_name}}</td>
            <td class="text-center">{{i.actual_inspection_date}}</td>
            <td class="text-center">{{i.inspection_done_by}}</td>
            <td class="text-center">{{i.inspection_remarks}}</td>
            {% if i.inspection_photo_1 %}
            <td > <img src="{{ i.inspection_photo_1.url }}" alt="Inspection Picture 1" style="width: 150px; height: 150px;"></td>
            {% else %}
            <td > No pics to display </td>
            {% endif %}
            {% if i.inspection_photo_2 %}
            <td > <img src="{{ i.inspection_photo_2.url }}" alt="Inspection Picture 2" style="width: 150px; height: 150px;"></td>
            {% else %}
            <td > No pics to display </td>
            {% endif %}
            <td>
                <button type="button" 
                        class="btn" 
                        data-toggle="modal" 
                        data-target="#exampleModal{{i.pk}}" 
                        style="background-color: #ff4d44 !important; color: white; background: linear-gradient(-45deg, #ee1b0f, #d42d24, #b91209 90%);">
                    Update
                </button>
            </td>
            <div class="modal fade" id="exampleModal{{i.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Inspection Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form  method="post" enctype='multipart/form-data' action="{% url 'customer:update_inspection' i.pk id %}">
                          <!-- {{i.pk }} {{id}} -->
                          {% csrf_token %}
                          {% bootstrap_form inspection_form %}
                          <div class="modal-footer">
                            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-success" type="submit" name="button">Submit</button>
                          </div>
                      </form>
                  </div>
              </div>
              </div>
          </div> 

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
    
    <div class="container ptos">
      <h4 style="text-align: center; width: 100%;">Has the vendor/s returned with the manufacturing dates? <br/> If yes, click the below button to proceed further.</h4>
      <button class="btn stg-c-n"> <span><i class="fa fa-check" aria-hidden="true"></i></span> Mark Stage as complete</button>
      <button class="btn stg-c-y"> <span><i class="fa fa-check" aria-hidden="true"></i></span> Stage Completed</button>
      
      <a href="{% url 'customer:getShipmentMarks' id %}" target="blank"><button class="btn shipment_marks">Generate Shipment Marks  <span><i class="fas fa-box-open" aria-hidden="true"></i></span></button></a>

      {% if Container_loading_obj %}
      <a href="{% url 'customer:container_loading_list' id %}"><button class="btn goto_cont_loading_list">Go to Container Loading Pics <span><i class="fas fa-truck-loading" aria-hidden="true"></i></span></button></a>
      {% else %}
      <a href="{% url 'customer:create_cont_load' id %}"><button class="btn create_cont_load">Go to Container Loading Pics <span><i class="fas fa-truck-loading" aria-hidden="true"></i></span></button></a>
      {% endif %}
      <br>
      <p class="sugg">Click on the button again to undo the change</p>

    </div>

    <script>
        sessionStorage.setItem("InspectionPageVisited", "True");

        if (sessionStorage.getItem("ContainerPageVisited")) {
          sessionStorage.removeItem("ContainerPageVisited");
          window.location.reload(true); // force refresh page1
        }

        $(function() {
            $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "1900:2020",
              // You can put more options here.
          });
        });

        // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
        $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();

        $(function() {
            $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "1900:2020",
              // You can put more options here.
          });
        });
        
        $('#exampleModal{{i.pk}}').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
            })

        jQuery(document).ready(function(){
        $('.stg-c-n').click(function(){
          if($(this).hasClass("stg-c-n"))
              $(".stg-c-n").css('display', 'none');
              $(".stg-c-y").css('display', 'inline');
              $(".sugg").css('display', 'inline');
             // $(".stg-c-n").removeClass("stg-c-n").addClass("stg-c-y");
        });

        $('.stg-c-y').click(function(){
          if($(this).hasClass("stg-c-y"))
              $(".stg-c-y").css('display', 'none');
              $(".stg-c-n").css('display', 'inline');
              $(".sugg").css('display', 'none');
            // $(".stg-c-n").removeClass("stg-c-n").addClass("stg-c-y");
        });
      });
    </script>
</body>
</html>