table, th, td {
    border: 1px solid black;
    padding: 1em;
}

.item_list{
    margin-left: 1em;
    margin-top: 1em;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

.vendor_list{
    border: 2px solid black;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;

}

.panel-default{
    border: 2px solid orange;
}

.panel-default .panel-title{
    
    padding: 0.5em;
}

.cus_email_links{
    text-align: right;
}

.shipments{
    border: 2px solid orangered ;
    padding: 1em;
}



page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

  page h3{
      margin: 3em;
  }