table, th, td {
    border: 1px solid black;
    padding: 1em;
}

.item_list{
    margin-left: 1em;
    margin-top: 1em;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

.vendor_list{
    border: 2px solid black;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;

}

.panel-default{
    border: 2px solid orange;
}

.panel-default .panel-title{
    
    padding: 0.5em;
}

.cus_email_links{
    text-align: right;
}

.shipments{
    border: 2px solid orangered ;
    padding: 1em;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
}

page h3{
    margin: 3em;
}

.navbar-nav{
    width: 100%;
}

.nav-item{
    width: inherit;
    /* border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;   */
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    /* border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;   */
    margin-right: 1em;

}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: red;
    border-color: black;
    border-bottom-width: 1em;
}

.nav-item a{
    text-align: center;
    font-size: 18px;  
    color: white !important;
}


/* Example values */

  #five:checked ~ .progress > .progress-bar {
    width: 5%;
    background-color: #f63a0f;
  }
  
  #twentyfive:checked ~ .progress > .progress-bar {
    width: 25%;
    background-color: #f27011;
  }
  
  #fifty:checked ~ .progress > .progress-bar {
    width: 50%;
    background-color: #f2b01e;
  }
  
  #seventyfive:checked ~ .progress > .progress-bar {
    width: 75%;
    background-color: #f2d31b;
  }
  
  #onehundred:checked ~ .progress > .progress-bar {
    width: 100%;
    background-color: #86e01e;
  }
  
  

/* Actual values */

.progress > .progress-bar{
    width: 16.67%;
    background-color: #FF0000;
}