table, th, td {
    border: 1px solid black;
    padding: 1em;
}

.item_list{
    margin-left: 1em;
    margin-top: 1em;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

.vendor_list{
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
}

.panel-default{
    border: 2px solid orange;
}

.panel-default .panel-title{
    
    padding: 0.5em;
}

.cus_email_links{
    text-align: right;
}

.shipments{
    border: 2px solid orangered ;
    padding: 1em;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
}

page h3{
    margin: 3em;
}

/* .navbar-nav{
    width: 100%;
} */

/* .nav-item{
    width: inherit;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-right: 1em;
} */

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: red;
    border-color: black;
    border-bottom-width: 1em;
}

.nav-item a{
    text-align: center;
    font-size: 18px;  
    color: white !important;
    outline: none;
}

#nav-button{
    color: white; 
    background-color: inherit; 
    border: inherit;
    outline: none;
}

/* Actual values */

.progress > .progress-bar{
    width: 33.33%;
    background-color: #FF8000;
}

.progress{
    height: 8px;
    width: 85%;
    margin: 0 auto;
}


/* Progress Bar Stages */

/* .temp1{
    border: 40px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 40px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 40px;
    border-left-color: #7352a4;
    border-left-style: solid;
    border-left-width: 40px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: transparent;

    background-color: #401d75;

    float: left;
} */

.spike1{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    /* border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: initial; */

    border: 25px solid transparent;

    border-left-color: #7352a4;
    border-right-color: #7352a4;

    background-color: rgba(45, 12, 94);
    background: linear-gradient(90deg, rgba(45,12,94,1) 18%, rgba(115,82,164,1) 100%);
}

.spike2{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    /* border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: initial; */

    border: 25px solid transparent;

    border-left-color: #7352a4;
    border-right-color: #7352a4;
    background-color: #2d0c5e;
    background: linear-gradient(90deg, rgba(45,12,94,1) 18%, rgba(115,82,164,1) 100%);
}

.spike3{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    /* border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: initial; */

    border: 25px solid transparent;

    border-left-color: #7352a4;
    border-right-color: #7352a4;
    background-color: rgb(45, 12, 94);
    background: linear-gradient(90deg, rgba(45,12,94,1) 18%, rgba(115,82,164,1) 100%);
}

.spike4{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    /* border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: initial; */

    border: 25px solid transparent;

    border-left-color: #7352a4;
    border-right-color: #7352a4;
    background-color: rgb(45, 12, 94);
    background: linear-gradient(90deg, rgba(45,12,94,1) 18%, rgba(115,82,164,1) 100%);
}

.spike5{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    /* border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: initial; */

    border: 25px solid transparent;

    border-left-color: #7352a4;
    border-right-color: #7352a4;
    background-color: rgb(45, 12, 94);
    background: linear-gradient(90deg, rgba(45,12,94,1) 18%, rgba(115,82,164,1) 100%);
}

.spike6{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    /* border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: initial; */

    border: 25px solid transparent;

    border-left-color: #7352a4;
    border-right-color: #7352a4;
    background-color: rgb(45, 12, 94);
    background: linear-gradient(90deg, rgba(45,12,94,1) 18%, rgba(115,82,164,1) 100%);
}

.box1{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    border-top-width: 40px;
    border-bottom-width: 40px;

    border: 25px solid transparent;

    /* border-left-color: #7352a4; */
    background-color: #7352a4;

    /* float: left; */
}

.box2{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    border-top-width: 25px;
    border-bottom-width: 25px;

    border: 25px solid transparent;

    /* border-left-color: #7352a4; */
    background-color: #7352a4;

    width: 150px;
    height: 40px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.box3{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    border-top-width: 25px;
    border-bottom-width: 25px;

    border: 25px solid transparent;

    /* border-left-color: #7352a4; */
    background-color: #7352a4;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,12,94,1) 18%, rgba(115,82,164,1) 100%); */

    width: 150px;
    height: 40px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}


.box4{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    border-top-width: 25px;
    border-bottom-width: 25px;

    border: 25px solid transparent;

    /* border-left-color: #7352a4; */
    background-color: #7352a4;

    width: 150px;
    height: 40px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.box5{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    border-top-width: 25px;
    border-bottom-width: 25px;

    border: 25px solid transparent;

    /* border-left-color: #7352a4; */
    background-color: #7352a4;

    width: 150px;
    height: 40px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.box6{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    border-top-width: 25px;
    border-bottom-width: 25px;

    border: 25px solid transparent;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    /* border-left-color: #7352a4; */
    background-color: #7352a4;

    width: 150px;
    height: 40px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.box7{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;

    border-top-width: 25px;
    border-bottom-width: 25px;

    border: 25px solid transparent;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    /* border-left-color: #7352a4; */
    background-color: #7352a4;

    width: 150px;
    height: 40px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

/* Save, edit and delete buttons */

.save{
    display: none;
    background: #32AD60;
    color: #ffffff;
}
.save:hover{
      background: darken(#32AD60, 10%);
}
  
.edit{
    background: #2199e8;
    color: #ffffff;
}
.edit:hover{
      background: darken(#2199e8, 10%);
}
 
  
.delete{
    background: #EC5840;
    color: #ffffff;
}    
.delete:hover{
      background: darken(#EC5840, 10%);
}