{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/main_customer_update_form.css' %}">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- <a class="nav-link" href="./main.html">HSTC <span class="sr-only">(current)</span></a> -->
            <a class="navbar-brand" href="{% url 'customer:main_customer-list' %}">
                <img src="{% static '/images/hstc_logo.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
                &nbsp HSTC
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <!-- Right Aligned -->
              <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Notifications</a>
                </li> -->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-4 btn-success" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <li class="nav-item dropdown active user">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                    <span><i class="fa fa-user"></i></span>&nbsp User
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#"><span><i class="fa fa-user-lock"></i></span>&nbsp Manage Access</a>
                    <a class="dropdown-item" href="#"><span><i class="fa fa-sign-out-alt"></i></span>&nbsp&nbsp Logout</a>
                  </div>
                </li>
              </ul>
            </div>
        </nav>


        <div class="container">
            <h1>Edit Customer Form! </h1>
            <h3>Please enter the changes you would like to make and click submit.</h3>
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {% bootstrap_form form %}
                
                <!-- {{ form.as_p }} -->

                <input class="btn btn-success sbmt" type="submit" value="Submit" />
            </form>
        </div>  
    </body>
</html>