<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main Customer Details! </h1>
    <h2>{{ object.customer_name }}</h2>
    <h2>{{ object.customer_contact }}</h2>
    <h2>{{ object.pk }}</h2>
    <h2>edit this <a href="{% url 'customer:main_customer-edit' object.pk %}">Edit me</a> </h2>
    <h2>Delete This: <a href="{% url 'customer:main_customer-delete' object.pk %}">Delete me</a> </h2>
    <h2>Add Vendor: <a href="{% url 'customer:customer-create' object.pk %}">Add me</a> </h2>
<!-- Excel Upload button should come here -->


    <hr>
    <h1>Vendor List! </h1>
    <!-- Only Company Names on List Pages -->
        <table style="border: solid 1px;">
            <thead  style="border: solid 1px;">
                <th style="border: solid 1px">Vendor Name</th>
                <th style="border: solid 1px">Vendor Contact</th>
                <th style="border: solid 1px">vedor pk</th>
                <th style="border: solid 1px">Edit</th>
                <th style="border: solid 1px">Delete</th>
            </thead>
            <tbody style="border: solid 1px;">
                {% for each in vendor_list %}

                <tr>
                    <td style="border: solid 1px">{{ each.company_name }}</td>
                    <td style="border: solid 1px">{{ each.contact_no }}</td>
                    <td style="border: solid 1px">{{ each.pk }}</td>
                    <td style="border: solid 1px">edit this <a href="{% url 'customer:customer-edit' each.pk %}">Edit me</a> </td>
                    <td style="border: solid 1px">Delete This: <a href="{% url 'customer:customer-delete' each.pk %}">Delete me</a> </td>
                </tr>   
                {% empty %}
                <li>No articles yet.</li>            
                {% endfor %}
            </tbody>
        </table>
 
         <hr>
         <a href="{% url 'customer:customer_pi_list' object.pk %}"><h2>Customer PI View: </h2> </a>
         <hr>
<P></P>
    <hr>
    <a href="{% url 'customer:shipment_type' object.pk %}">Dilivery Dates</a>
    
    <hr>
    <a href="{% url 'customer:create_inspection' object.pk %}">create_inspection</a> This should only be clicked once, otherwise it will create mutiple field on secondd click
    <a href="{% url 'customer:display_inspection' object.pk %}">View Inspection Details</a>
    <hr>
    <a href="{% url 'customer:getShipmentMarks' object.pk %}">Sends Email and Create Shipment Marks</a>
    <hr>
    <a href="{% url 'customer:create_cont_load'  object.pk %}">Create Customer Loading Objects</a>
    <hr>
    <a href="{% url 'customer:container_loading_list'  object.pk %}">View Customer Loading Objects</a>
    <hr>
    <a href="{{ object.shipment_file.url }}">download file</a>
    <br>
    <a href="{% url 'customer:uploadfile' object.pk %}">upload file</a>

</body>
</html>