<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main Customer Details! </h1>
    <h2>{{ object.customer_name }}</h2>
    <h2>{{ object.customer_contact }}</h2>
    <h2>{{ object.pk }}</h2>
    <h2>edit this <a href="{% url 'customer:main_customer-edit' object.pk %}">Edit me</a> </h2>
    <h2>Delete This: <a href="{% url 'customer:main_customer-delete' object.pk %}">Delete me</a> </h2>
    <h2>Add Vendor: <a href="{% url 'customer:customer-create' object.pk %}">Add me</a> </h2>

    <h1>Vendor List! </h1>
    <!-- Only Company Names on List Pages -->
        {% for each in vendor_list %}
                <h2>One way is we redirect to another page. </h2>
                <li> <a href="{% url 'customer:customer-detail' each.id %}"> Company: {{ each.company_name }}</a></li>
                <h2>Or we can have all in as below</h2>
                <p>{{ each.customer_name }}</p>
                <p>{{ each.customer_contact }}</p>
                <p>{{ each.pk }}</p>
                <p>edit this <a href="{% url 'customer:customer-edit' each.pk %}">Edit me</a> </p>
                <p>Delete This: <a href="{% url 'customer:customer-delete' each.pk %}">Delete me</a> </p>
                            {% empty %}
                <li>No articles yet.</li>
         {% endfor %}
    
</body>
</html>