{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer PI</title>

  <!-- JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/customer_pi_list.css' %}"> 
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="nav-link" href="./main.html">HSTC <span class="sr-only">(current)</span></a> -->
    <a class="navbar-brand" href="{% url 'customer:main_customer-list' %}">
        <img src="{% static '/images/hstc_logo.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        &nbsp HSTC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Right Aligned -->
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
        </li> -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-4 btn-success" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <li class="nav-item dropdown active user">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <span><i class="fa fa-user"></i></span>&nbsp User
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><span><i class="fa fa-user-lock"></i></span>&nbsp Manage Access</a>
            <a class="dropdown-item" href="#"><span><i class="fa fa-sign-out-alt"></i></span>&nbsp&nbsp Logout</a>
          </div>
        </li>
      </ul>
    </div>
</nav>

    <br>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </nav>
            <!-- Progress Bar Start -->
            <nav class="navbar navbar-expand-lg navbar-light progress_bar">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item active stage">
                      <a class="nav-link" href="{% url 'customer:main_customer-detail' customer_object.pk %}">Order Summary</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:customer_pi_list' customer_object.pk %}">Customer PI</a>
                  </li>
                  <li class="nav-item active stage">
                      <a class="nav-link" href="{% url 'customer:shipment_type' customer_object.pk %}">Delivery Dates</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:display_inspection' customer_object.pk %}">Inspection Details</a>
                </li>
                <li class="nav-item active stage">
                  <a class="nav-link" href="{% url 'customer:getShipmentMarks' customer_object.pk %}" target="blank">Shipment Marks</a>
                </li>
                <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:container_loading_list' customer_object.pk %}">Container Loading Pics</a>
                </li>
                <li class="nav-item active stage">
                    <a class="nav-link" href="#">Doorstep Delivery ETA</a>
                </li>
                </ul>
              </div>
            </nav>
          <!-- Progress Bar End -->
    <!-- Table -->
<div class="mb-3 card">
    <div class="card-header-buttons">
        <button class="btn btn-primary"><span><i class="fa fa-download" aria-hidden="true"></i></span>&nbsp Download Excel</button>
        <button class="btn btn-primary"><span>&nbsp<i class="fa fa-envelope" aria-hidden="true"></i></span>&nbsp Email Contract</button>
        <a href="{% url 'customer:send_CPI' customer_object.pk %}">        
            <button class="btn btn-primary">&nbsp<span><i class="fa fa-envelope-open" aria-hidden="true"></i></span>&nbsp Email Customer PI</button>
        </a>

    </div>
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="fa fa-user" aria-hidden="true"></i> Customer PI  
        </div>
    </div>

  <div class="scrollit" id="style-1">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Edit</th>
        <th class="text-center">Delete</th>
        <th class="text-center">SI No</th>
        <th class="text-center">L No</th>
        <th class="text-center">SL No</th>
        <th class="text-center">Description</th>
        <th class="text-center">Model</th>
        <th class="text-center">Photo</th>
        <th class="text-center">Dimensions</th>
        <th class="text-center">Remarks</th>
        <th class="text-center">Unit</th>
        <th class="text-center">Unit Price</th>
        <th class="text-center">Qty</th>
        <th class="text-center">Cu Amt</th>
        <th class="text-center">Discounted Amt</th>
        <th class="text-center">Token(HSTC)</th>
        <th class="text-center">Token(Cu)</th>
        <th class="text-center">Token Date</th>
        <th class="text-center">CBM</th>
        <th class="text-center">Ctns</th>
        <th class="text-center">Gross Wt</th>
        <th class="text-center">Net Wt</th>
      </tr>
      </thead>
  
      <tbody>
        {% for CP in vendor_object %}
        <tr>
          <td class="text-center"><a href="{% url 'customer:CustomerPI_Update' CP.pk %}">
            <button type="button" 
            class="btn btn-primary" 
            style="background-color: #3169c2 !important;">
                Edit
            </button>
          </a></td>
          <td class="text-center"><a href="{% url 'customer:customer-delete' CP.pk %}">
            <button type="button" 
            class="btn btn-primary" 
            style="background-color: #3169c2 !important;">
                Delete
            </button>
          </a></td>
          <td class="text-center">{{CP.s_no }}</td>
          <td class="text-center">{{CP.list_no }}</td>
          <td class="text-center">{{CP.sub_list_no }}</td>
          <td class="text-center">{{CP.description}}</td>
          <td class="text-center">{{CP.model }}</td>
          {% if CP.photo %}
          <td><img src="{{ CP.photo.url }}" alt="A picture" width="150px" height="150px"></td>
          {% else %}
          <td><img src="{% static '/images/hstc_logo.jpeg' %}" alt="A picture" width="100px" height="100px"></td>
          {% endif %}
          <td class="text-center">{{CP.dimensions }}</td>
          <td class="text-center">{{CP.remarks }}</td>
          <td class="text-center">{{CP.unit }}</td>
          <td class="text-center">{{CP.unit_price }}</td>
          <td class="text-center">{{CP.qty}}</td>
          <td class="text-center">{{CP.customer_amount }}</td>
          <td class="text-center">{{CP.customer_amount_after_discount }}</td>
          <td class="text-center">{{CP.token_deposit_HSTC }} </td>
          <td class="text-center">{{CP.token_deposit_customer }}</td>
          <td class="text-center">{{CP.token_deposit_date}}</td>
          <td class="text-center">{{CP.CBM_m3}}</td>
          <td class="text-center">{{CP.ctns}}</td>
          <td class="text-center">{{CP.gross_weight_kgs}}</td>
          <td class="text-center">{{CP.net_weight_kgs}}</td>
        </tr>
        {% endfor %}       
      </tbody>
    </table>
  </div>
  </div>
</body>
</html>