{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"/>
   
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/diliverylistview.css' %}">
    <title>Delivery Date Update</title>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="nav-link" href="./main.html">HSTC <span class="sr-only">(current)</span></a> -->
    <a class="navbar-brand" href="{% url 'customer:main_customer-list' %}">
        <img src="{% static '/images/hstc_logo.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        &nbsp HSTC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Right Aligned -->
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
        </li> -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-4 btn-success" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <li class="nav-item dropdown active user">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <span><i class="fa fa-user"></i></span>&nbsp User
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><span><i class="fa fa-user-lock"></i></span>&nbsp Manage Access</a>
            <a class="dropdown-item" href="#"><span><i class="fa fa-sign-out-alt"></i></span>&nbsp&nbsp Logout</a>
          </div>
        </li>
      </ul>
    </div>
</nav>

    <br>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </nav>
            <!-- Progress Bar Start -->
            <nav class="navbar navbar-expand-lg navbar-light progress_bar">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item active stage">
                      <a class="nav-link" href="{% url 'customer:main_customer-detail' id %}">Order Summary</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:customer_pi_list' id %}">Customer PI</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:dilivery_dates' id %}">Delivery Dates</a>
                  </li>
                  <li class="nav-item active stage">
                      <a class="nav-link" href="{% url 'customer:display_inspection' id %}">Inspection Details</a>
                  </li>
                  <li class="nav-item active stage">
                    <a class="nav-link" href="{% url 'customer:getShipmentMarks' id %}" target="blank">Shipment Marks</a>
                  </li>
                  <li class="nav-item active stage">
                      <a class="nav-link" href="{% url 'customer:container_loading_list' id %}">Container Loading Pics</a>
                  </li>
                  <li class="nav-item active stage">
                      <a class="nav-link" href="#">Doorstep Delivery ETA</a>
                  </li>
                </ul>
              </div>
            </nav>
          <!-- Progress Bar End -->

{% if shipment %}
<!-- Table -->
<div class="mb-3 card">
    <div class="card-header-buttons">
      <button class="btn btn-danger excel-down"><span><i class="fa fa-download" aria-hidden="true"></i></span>&nbspExcel</button>
      <button class="btn btn-danger excel-down" style="width: 180px;" data-toggle="modal" data-target="#exampleModal"><span><i class="fa fa-edit"></i></span>&nbsp Update Delivery Date</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Delivery Date</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <form  method="post">
                <!-- {{id}} -->
                {% csrf_token %}
                <!-- {% bootstrap_form partShipmentForm %} -->
                <input type="date" name="dilivery_date" class="form-control" maxlength="30" placeholder="Delivery Date" title="" required="" id="id_dilivery_date">
                <div class="modal-footer">
                      <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-success" type="submit" name="button">Submit</button>
                </div>
              </form>   
            </div>
            <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success">Submit</button>
             -->
        </div>
        </div>
    </div>         
    
  <div class="scrollit" id="style-1">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">SI No</th>
        <th class="text-center">L No</th>
        <th class="text-center">SL No</th>
        <th class="text-center">Company Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Model</th>
        <th class="text-center">Photo</th>
        <th class="text-center">Dimensions</th>
        <th class="text-center">Manufacturing Days</th>
        <th class="text-center">Shipment No</th>
        <th class="text-center">Tentative Delivery Date</th>
        <th class="text-center">Planned Inspection Date</th>
      </tr>
      </thead>
  
      <tbody>				
  
        {% for i in vendor_queryset %}
        <tr>
            <td class="text-center">{{i.s_no }}</td>
            <td class="text-center">{{i.list_no }}</td>
            <td class="text-center">{{i.sub_list_no }}</td>
            <td class="text-center">{{i.company_name }}</td>
            <td class="text-center">{{i.description }}</td>
            <td class="text-center">{{i.model }}</td>
            {% if i.photo %}
            <td> <img src="{{ i.photo.url }}" height="100px" width="100px" class="src"></td>
            {% else %}
            <td>No Picture</td>
            {% endif %}
            <td>{{i.dimensions }} </td>
            <td>{{i.manufacturing_days }} </td>
            <td>{{i.shipment_number }} </td>
            <td>{{i.tentative_dilivery_date }} </td>
            <td>{{i.planned_inspection_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
{% else %}
<div class="mb-3 card">
    <!-- <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="fa fa-user" aria-hidden="true"></i> Update Delivery Date  
        </div>
    </div> -->
  <div class="card-header-buttons">
    <button class="btn btn-danger excel-down"><span><i class="fa fa-download" aria-hidden="true"></i></span>&nbspExcel</button>
  </div>
  <div class="scrollit" id="style-1">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Update</th>        
        <th class="text-center">SI No</th>
        <th class="text-center">L No</th>
        <th class="text-center">SL No</th>
        <th class="text-center">Company Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Model</th>
        <!-- <th class="text-center">Photo</th> -->
        <th class="text-center">Dimensions</th>
        <th class="text-center">Manufacturing Days</th>
        <th class="text-center">Shipment No</th>
        <th class="text-center">Tentative Delivery Date</th>
        <th class="text-center">Planned Inspection Date</th>
      </tr>
      </thead>
  
      <tbody>				
  
        {% for i in vendor_queryset %}
        <tr>
            <td>
              <button type="button" 
                      class="btn" 
                      data-toggle="modal" 
                      data-target="#exampleModal{{i.pk}}" 
                      style="background-color: #ff4d44 !important; color: white; background: linear-gradient(-45deg, #ee1b0f, #d42d24, #b91209 90%);">
                      Update
              </button>
            </td>
            <td class="text-center">{{i.s_no }}</td>
            <td class="text-center">{{i.list_no }}</td>
            <td class="text-center">{{i.sub_list_no }}</td>
            <td class="text-center">{{i.company_name }}</td>
            <td class="text-center">{{i.description }}</td>
            <td class="text-center">{{i.model }}</td>
            {% if i.photo %}
            <td> <img src="{{ i.photo.url }}" height="100px" width="100px" class="src"></td>
            {% endif %}
            <td>{{i.dimensions }} </td>
            <td>{{i.manufacturing_days }} </td>
            <td>{{i.shipment_number }} </td>
            <td>{{i.tentative_dilivery_date }} </td>
            <td>{{i.planned_inspection_date }}</td>
           

            <div class="modal fade" id="exampleModal{{i.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Delivery Date</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  method="post" action="{% url 'customer:updatedates' i.pk id %}">
                            <!-- {{i.pk }} {{id}} -->
                            {% csrf_token %}
                            {% bootstrap_form partShipmentForm %}
                            <div class="modal-footer">
                              <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                              <button class="btn btn-success" type="submit" name="button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  {% endif %}
  <div class="container ptos">
    <h4 style="text-align: center; width: 100%;">Has the vendor/s returned with the manufacturing dates? <br/> If yes, click the below button to proceed further.</h4>
    <button class="btn stg-c-n"> <span><i class="fa fa-check" aria-hidden="true"></i></span> Mark Stage as complete</button>
    <button class="btn stg-c-y"> <span><i class="fa fa-check" aria-hidden="true"></i></span> Stage Completed</button>
    
    {% if inspection_obj %}
    <a href="{% url 'customer:display_inspection' id %}"><button class="btn goto_inspection">Go to Inspection  <span><i class="fas fa-clipboard-list" aria-hidden="true"></i></span></button></a>
    {% else %}
    <a href="{% url 'customer:create_inspection' id %}"><button class="btn create_inspection">Go to Inspection  <span><i class="fas fa-clipboard-list" aria-hidden="true"></i></span></button></a>
    {% endif %}
    <br>
    <p class="sugg">Click on the button again to undo the change</p>
  </div>


    <script>
        if (sessionStorage.getItem("InspectionPageVisited")) {
          sessionStorage.removeItem("InspectionPageVisited");
          window.location.reload(true); // force refresh page1
        }
        // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
        $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();

        $(function() {
            $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "1900:2020",
              // You can put more options here.
          });
        });
        

        $('#exampleModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
        })

        $('#exampleModal{{i.pk}}').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
        })

        $('.stg-c-n').click(function(){
          if($(this).hasClass("stg-c-n"))
              $(".stg-c-n").css('display', 'none');
              $(".stg-c-y").css('display', 'inline');
              $(".sugg").css('display', 'inline');
              // $(".stg-c-n").removeClass("stg-c-n").addClass("stg-c-y");
        });

        $('.stg-c-y').click(function(){
          if($(this).hasClass("stg-c-y"))
              $(".stg-c-y").css('display', 'none');
              $(".stg-c-n").css('display', 'inline');
              $(".sugg").css('display', 'none');
              // $(".stg-c-n").removeClass("stg-c-n").addClass("stg-c-y");
        });
    </script>
</body>
</html>