{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- JS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
 
 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"/>
    
     <!-- CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static '/css/inspection-details.css' %}">
     
       <title>Container Loading Pics</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="nav-link" href="./main.html">HSTC <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
    </nav>

    <!-- Container Loading Detils: 
    <table style="border: solid black 1px;">
        <thead style="border: solid black 1px;">
            <th style="border: solid black 1px;">    customer</th>
            <th style="border: solid black 1px;">    vendor_company_name</th>
            <th style="border: solid black 1px;">    description</th>
            <th style="border: solid black 1px;">    model</th>
            <th style="border: solid black 1px;">    Item photo</th>
            <th style="border: solid black 1px;">    Loading photo1</th>
            <th style="border: solid black 1px;">    Loading photo2</th>        
            <th style="border: solid black 1px;">    Loading photo3</th>        
            <th style="border: solid black 1px;">    Loading PortDetails1</th>        
            <th style="border: solid black 1px;">    Loading PortDetails2</th>  
        </thead>
        <tbody>
        {% for i in Container_loading_obj %}
            <tr>
                <td style="border: solid black 1px;">    {{ i.customer }}</td>
                <td style="border: solid black 1px;">    {{ i.vendor_company_name }}</td>
                <td style="border: solid black 1px;">    {{ i.vendor_company_name.description }}</td>
                <td style="border: solid black 1px;">    {{ i.vendor_company_name.model }}</td>
                {% if i.vendor_company_name.photo %}
                <td style="border: solid black 1px;"> <img src="{{ i.vendor_company_name.photo.url }}" alt="Inspection Picture 1" style="width: 200px; height: 200px;"></td>
                {% else %}
                <td  style="border: solid black 1px;">No Pics to display</td>
                {% endif %}
                {% if i.photo1 %}
                <td style="border: solid black 1px;"> <img src="{{ i.photo1.url }}" alt="Inspection Picture 1" style="width: 200px; height: 200px;"></td>
                {% else %}
                <td  style="border: solid black 1px;">No Pics to display</td>
                {% endif %}
                {% if i.photo3 %}
                <td style="border: solid black 1px;"> <img src="{{ i.photo2.url }}" alt="Inspection Picture 2" style="width: 200px; height: 200px;"></td>
                {% else %}
                <td  style="border: solid black 1px;">No Pics to display</td>
                {% endif %}
                {% if i.photo3 %}
                <td style="border: solid black 1px;"> <img src="{{ i.photo3.url }}" alt="Inspection Picture 2" style="width: 200px; height: 200px;"></td>
                {% else %}
                <td style="border: solid black 1px;">No Pics to display</td>
                {% endif %}
                <td style="border: solid black 1px;">    {{ i.PortDetails1 }}</td>
                <td style="border: solid black 1px;">    {{ i.PortDetails2 }}</td>

                <td>
                    <button type="button" class="btn btn-success xoxo" data-toggle="modal" data-target="#exampleModal{{i.pk}}" >
                        Update
                    </butaton>
                </td>
            
            <div class="modal fade" id="exampleModal{{i.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Debit Amount</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <form  method="post" enctype="multipart/form-data"  action="{% url 'customer:update_container_loading' i.pk id %}">
                        {{i.pk }} {{id}}
                        {% csrf_token %}
                        {% bootstrap_form Container_loading_form %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-success" style=" display:block; margin:0px auto; padding:1% 30%;" type="submit" name="button">Submit</button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div> 
        </tr>
        <script>
            $('#exampleModal{{i.pk}}').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
            })
        </script>
        {% endfor %}
        </tbody>
    </table> -->


      <!-- Table -->
<div class="mb-3 card">
    <div class="card-header-buttons">
      <button class="btn btn-danger excel-down"><span><i class="fa fa-download" aria-hidden="true"></i></span>&nbspExcel</button>
    </div>
  <div class="scrollit" id="style-1">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Customer</th>
        <th class="text-center">Vendor Company</th>
        <th class="text-center">Description</th>
        <th class="text-center">Model</th>
        <th class="text-center">Item Photo</th>
        <th class="text-center">Loading Photo 1</th>
        <th class="text-center">Loading Photo 2</th>
        <th class="text-center">Loading Photo 3</th>
        <th class="text-center">Port details 1</th>
        <th class="text-center">Port details 2</th>
        <th class="text-center">Update</th>
      </tr>
      </thead>
  
      <tbody>				
  
        {% for i in Container_loading_obj %}
        <tr>
            <td class="text-center">{{i.customer}}</td>
            <td class="text-center">{{i.vendor_company_name}}</td>
            <td class="text-center">{{ i.vendor_company_name.description }}</td>
            <td class="text-center">{{ i.vendor_company_name.model }}</td>
            
            {% if i.vendor_company_name.photo %}
            <td class="text-center"> <img src="{{ i.vendor_company_name.photo.url }}" alt="Inspection Picture 1" style="width: 200px; height: 200px;"></td>
            {% else %}
            <td class="text-center">No Pics to display</td>
            {% endif %}

            {% if i.photo1 %}
            <td class="text-center"> <img src="{{ i.photo1.url }}" alt="Inspection Picture 1" style="width: 200px; height: 200px;"></td>
            {% else %}
            <td class="text-center">No Pics to display</td>
            {% endif %}

            {% if i.photo2 %}
            <td class="text-center"> <img src="{{ i.photo2.url }}" alt="Inspection Picture 1" style="width: 200px; height: 200px;"></td>
            {% else %}
            <td class="text-center">No Pics to display</td>
            {% endif %}

            {% if i.photo3 %}
            <td class="text-center"> <img src="{{ i.photo3.url }}" alt="Inspection Picture 1" style="width: 200px; height: 200px;"></td>
            {% else %}
            <td class="text-center">No Pics to display</td>
            {% endif %}

            <td class="text-center">{{ i.PortDetails1 }}</td>
            <td class="text-center">{{ i.PortDetails2 }}</td>

            <td>
                <button type="button" 
                        class="btn" 
                        data-toggle="modal" 
                        data-target="#exampleModal{{i.pk}}" 
                        style="background-color: #ff4d44 !important; color: white; background: linear-gradient(-45deg, #ee1b0f, #d42d24, #b91209 90%);">
                    Update
                </button>
            </td>
            <div class="modal fade" id="exampleModal{{i.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Container Loading Pics</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form  method="post" enctype='multipart/form-data' action="{% url 'customer:update_container_loading' i.pk id %}">
                          {% csrf_token %}
                          {% bootstrap_form Container_loading_form %}
                          <div class="modal-footer">
                            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-success" type="submit" name="button">Submit</button>
                          </div>
                      </form>
                  </div>
              </div>
              </div>
          </div> 

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>


    <script>
        sessionStorage.setItem("ContainerPageVisited", "True");

        // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
        $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>
</body>
</html>