<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for shpmnt in vendor_obj %}
    <table style="border: solid black 1px; text-align: center; margin-top: 1em;">
        <thead style="border: solid black 1px; padding-top: 0.5em ;">
            <th style="border: solid black 1px;padding-top: 0.5em ;">Customer</th>
            <th style="border: solid black 1px;padding-top: 0.5em ;">Model</th>
            <th style="border: solid black 1px;padding-top: 0.5em ;">Product Description</th>
            <th style="border: solid black 1px;padding-top: 0.5em ;">Product Number</th>
            <th style="border: solid black 1px;padding-top: 0.5em ;">Image</th>
        </thead>
        <tbody style="border: solid black 1px; padding-top: 0.5em ;">
            <tr style="border: solid black 1px;">
                <td style="border: solid black 1px;padding-top: 0.5em ;">{{ shpmnt.customer.customer_name}}</td>
                <td style="border: solid black 1px;padding-top: 0.5em ;">{{ shpmnt.model }}</td>
                <td style="border: solid black 1px;padding-top: 0.5em ;">{{ shpmnt.description }}</td>
                <td style="border: solid black 1px;padding-top: 0.5em ;">{{ shpmnt.customer.customer_name}} {{shpmnt.s_no}} {{shpmnt.list_no}} {{shpmnt.sub_list_no}} {{shpmnt.ctns}} </td>
                {% if shpmnt.photo %}
                <td style="border: solid black 1px; text-align: center;"> <img src="{{ shpmnt.photo.url }}" height="100px" width="100px"> </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <br>
    {% endfor %}
</body>
</html>