{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vendor</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"/>

</head>
    <body>
        <div class="container" style="margin: 0 auto; margin-top: 3em;">
        <h1>Add Vendor Form! </h1>
        <h5>Please enter the below details and click submit.</h5>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {% bootstrap_form form %}
            <!-- {{ form.as_p }} -->
            <input class="btn btn-success" type="submit" value="Submit" />
            <br><br>
        </form>
        <script>
            $(function() {
                $( ".datepicker" ).datepicker({
                  changeMonth: true,
                  changeYear: true,
                  yearRange: "1900:2020",
                  // You can put more options here.
              });
            });
            </script>
    </body>
</html>