{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vendor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="container" style="margin: 0 auto; margin-top: 3em;">
        <h1>Add Vendor Form! </h1>
        <h5>Please enter the below details and click submit.</h5>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {% bootstrap_form form %}
            <!-- {{ form.as_p }} -->
            <input class="btn btn-success" type="submit" value="Submit" />
            <br><br>
        </form>
    </body>
</html>