{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Customer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="container" style="margin-top: 3em;">
            <p>Are you sure you want to delete {{ object }}?</p>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </div>
    </form>   
</body>
</html>